### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
# purchase_data

## Player Count

* Display the total number of players

In [2]:
pymoliplayer_num=len(purchase_data['SN'].unique())
file_df=pd.DataFrame({'Total Players':[pymoliplayer_num]})
file_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
pymoliplayernum_item=len(purchase_data["Item ID"].unique())
file_df=pd.DataFrame({'Number of Unique Items':[pymoliplayernum_item]})
file_df

   Number of Unique Items
0                     179

In [4]:
pymoliplayernum_item=(purchase_data["Price"].mean())
file_df=pd.DataFrame({'Average Price':[pymoliplayernum_item]})
file_df

   Average Price
0       3.050987

In [5]:
pymoliplayernum_item=(purchase_data["Purchase ID"].count())
file_df=pd.DataFrame({'Number of Purchases':[pymoliplayernum_item]})
file_df

   Number of Purchases
0                  780

In [6]:
pymoliplayernum_item=(purchase_data["Price"].sum())
file_df=pd.DataFrame({'Total Revenue':[pymoliplayernum_item]})
file_df

   Total Revenue
0        2379.77

In [7]:
my_list = len(purchase_data["Item ID"].unique()),(purchase_data["Price"].mean()),(purchase_data["Purchase ID"].count()),(purchase_data["Price"].sum())
renamed_df = file_df.rename(columns={"Item ID": "Number of Unique Items",
                                    "Price": "Average Price",
                                    "Purchase ID":"Number of Purchases",
                                    "Price": "Total Revenue"})
file_df=pd.DataFrame(my_list)

new_df = file_df.T

new_df.columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]

new_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                   179.0       3.050987                780.0        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
unique=purchase_data.drop_duplicates("SN")
count = unique["Gender"].value_counts()
count.to_dict()
percent=round(unique["Gender"].value_counts(normalize=True),4)*100
percent.to_dict()
unique_df=pd.DataFrame({"Total Count":count, "Percentage of players":percent})
unique_df

                       Total Count  Percentage of players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
gender_count=purchase_data.groupby(["Gender"]).count()["Price"]
gender_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [10]:
average_price=purchase_data.groupby(["Gender"]).mean()["Price"]
average_price
round(average_price, 2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [11]:
total_purchase_value=purchase_data.groupby(["Gender"]).sum()["Price"]
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [12]:
purchase_data.groupby(["Gender"]).sum()["Price"]/unique_df["Total Count"]
# round(purchase_data, 2)

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [13]:
my_list = purchase_data.groupby(["Gender"]).count()["Price"], purchase_data.groupby(["Gender"]).mean()["Price"], purchase_data.groupby(["Gender"]).sum()["Price"], purchase_data.groupby(["Gender"]).sum()["Price"]/unique_df["Total Count"]
renamed = file_df.rename(columns={"Purchase ID":"Purchase Count", 
                                  "Price": "Average Purchase Price", 
                                  "Price": "Total Purchase Value", 
                                  "Price": "Avg Total Purchase per Person"})
file_df=pd.DataFrame(my_list)

new_df = file_df.T

new_df.columns=["Purchase Count", "Average Purchas Price", "Total Purchase Value", "Avg Total Purchase per Person"]

new_df.head()

round(new_df, 2)

,Purchase Count,Average Purchas Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113.0,3.20,361.94,4.47
Male,652.0,3.02,1967.64,4.07
Other / Non-Disclosed,15.0,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
import pandas as pd
purchase_data = pd.read_csv(file_to_load)
purchase_data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [15]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [16]:
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [17]:
bin = [1,9,17,25,33,35,40,45,50]
group_labels = ("<10", "10-14", "15-20", "21-25", "26-30", "31-35", "36-40", "40+")
pd.cut(purchase_data["Age"], bin, labels=group_labels).head()

0    15-20
1    31-35
2    15-20
3    15-20
4    15-20
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-20 < 21-25 < 26-30 < 31-35 < 36-40 < 40+]

In [18]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bin, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,31-35
2,2,Ithergue48,24,Male,92,Final Critic,4.88,15-20
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,15-20
4,4,Iskosia90,23,Male,131,Fury,1.44,15-20

In [22]:
Age_group_df = purchase_data.groupby("Age Group")
Age_group_df.count().head

<bound method NDFrame.head of            Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
<10                 23   23   23      23       23         23     23
10-14              115  115  115     115      115        115    115
15-20              473  473  473     473      473        473    473
21-25              106  106  106     106      106        106    106
26-30               23   23   23      23       23         23     23
31-35               33   33   33      33       33         33     33
36-40                7    7    7       7        7          7      7
40+                  0    0    0       0        0          0      0>

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [55]:
bin = [1,9,17,25,33,35,40,45,50]
group_labels = ("<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+")
pd.cut(purchase_data["Age"], bin, labels=group_labels).head(780)

0      15-19
1      30-34
2      15-19
3      15-19
4      15-19
       ...
775    15-19
776    15-19
777    15-19
778      <10
779    15-19
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [59]:
group_purchase_data_df = purchase_data_df.groupby([Age])
purchase_data_df = pd.DataFrame({"Purchase Counts":SN,
                                "Average Purchase Price":Pruce}).sum()
purchase_data_df.head()

NameError: name 'purchase_data_df' is not defined

In [27]:
num_item=(purchase_data["Purchase ID"].count())
file_df=pd.DataFrame({'Purchase Count':[num_item]})
file_df

   Purchase Count
0             780

In [28]:
num_item=(purchase_data["Price"].mean())
file_df=pd.DataFrame({'Average Purchase Price':[num_item]})
file_df

   Average Purchase Price
0                3.050987

In [29]:
num_item=(purchase_data["Price"].sum())
file_df=pd.DataFrame({'Total Revenue':[num_item]})
file_df

   Total Revenue
0        2379.77

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
import pandas as pd
import numpy as np

In [42]:
unique=purchase_data.drop_duplicates("SN")
count = unique["Item ID"].value_counts()
count.head(10)

178    11
37      8
7       7
82      7
145     7
159     7
92      7
129     6
143     6
19      6
Name: Item ID, dtype: int64

In [46]:
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(11)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74

In [52]:
spenders_df = purchase_data_type_df.groupby(["Type 1"])
spenders_comparison_df = purchase_data.mean()
spenders_comparison_df

NameError: name 'purchase_data_type_df' is not defined

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [64]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load, encoding="utf-8")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [66]:
Item_ID = len(purchase_data_df["SN"].unique())
Item_ID

576

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [72]:
items = purchase_data.sort_values(["Total Purchase Value"], ascendin=false)
items

NameError: name 'false' is not defined

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80